@font-face {
  font-family: "TheanoOldStyleRegular";
  src: url('/css/fonts/../fonts/TheanoOldStyle-Regular-webfont.eot');
  src: url('/css/fonts/../fonts/TheanoOldStyle-Regular-webfont.eot?#iefix') format('eot'), url('/css/fonts/../fonts/TheanoOldStyle-Regular-webfont.woff') format('woff'), url('/css/fonts/../fonts/TheanoOldStyle-Regular-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/TheanoOldStyle-Regular-webfont.svg') format('svg'); }

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of Eric Meyer's CSS Reset */
::-moz-selection {
  background: #e5d9d0;
  color: #5b353b;
  text-shadow: none; }

::selection {
  background: #e5d9d0;
  color: #5b353b;
  text-shadow: none; }

html {
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

body {
  font: 14px/18px Arial, sans-serif;
  height: 100%;
  background: #e5d9d0;
  color: #5b353b;
  transition: all 1s linear; }

a {
  text-decoration: none; }

body.hovered {
  background: #5b353b; }
  body.hovered .welcome-page {
    border-color: #4E3136; }
  body.hovered .welcome-logo-container p {
    color: #e5d9d0; }

.welcome-page {
  position: relative;
  overflow: hidden;
  border: 8px solid #5b353b;
  min-height: 400px; }
  .welcome-page .welcome-logo-container {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -150px;
    z-index: 8;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none; }
    .welcome-page .welcome-logo-container:hover .welcome-logo {
      background-position: 0 -299px; }
    .welcome-page .welcome-logo-container .welcome-logo {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 300px;
      height: 300px;
      background: transparent url("../gfx/site/welcome-logo.png") no-repeat scroll 0 0;
      background-size: 300px; }
    .welcome-page .welcome-logo-container p {
      text-align: center;
      margin: 0;
      color: #5b353b;
      font: normal 19px/1 'TheanoOldStyleRegular', serif;
      transition: all 1s linear; }
      .welcome-page .welcome-logo-container p.name {
        font-size: 38px;
        margin: 0 0 5px 0; }

.bubles {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .bubles .bubles-one, .bubles .bubles-two, .bubles .bubles-three {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1080px;
    width: 1920px;
    margin: -540px 0 0 -960px;
    display: none; }
  .bubles .bubles-one {
    background: transparent url("../gfx/bubles/bubles1_2.png") no-repeat scroll 0 0; }
  .bubles .bubles-two {
    background: transparent url("../gfx/bubles/bubles2_2.png") no-repeat scroll 0 0; }
  .bubles .bubles-three {
    background: transparent url("../gfx/bubles/bubles3_2.png") no-repeat scroll 0 0; }

.wrapper {
  display: none;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

/* Middle
-----------------------------------------------------------------------------*/
.content {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .content .small-link {
    display: none;
    width: 140px;
    margin: 0 auto;
    color: #5b353b;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 60px;
    font-size: 17px;
    text-align: center;
    text-decoration: none; }
  .content > div {
    position: relative;
    float: left;
    overflow: hidden;
    width: 50%;
    height: 100%; }
    .content > div.vitalii {
      color: #e5d9d0;
      background-color: #5b353b;
      min-height: 920px; }
      .content > div.vitalii .column {
        float: right; }
      .content > div.vitalii .text-box h2 span {
        border-bottom: 2px solid #e5d9d0; }
      .content > div.vitalii .image-box a {
        background: transparent url("../gfx/photos/vitalii.jpg") no-repeat scroll 0 0; }
      .content > div.vitalii .social-links-box {
        border-top: 2px solid #e5d9d0; }
      .content > div.vitalii .arrow {
        left: 1%;
        background: transparent url("../gfx/icons/arrow-left.png") no-repeat center 0; }
        .content > div.vitalii .arrow span {
          left: 70px;
          color: #e5d9d0; }
      .content > div.vitalii .small-link {
        background: url("../gfx/icons/arrow-left.png") no-repeat scroll 0 0 transparent;
        color: #e5d9d0; }
        .content > div.vitalii .small-link:hover {
          background-position: 0 -61px; }
    .content > div.viktoria {
      color: #5b353b; }
      .content > div.viktoria .column {
        float: left; }
      .content > div.viktoria .image-box a {
        background: transparent url("../gfx/photos/vika.jpg") no-repeat scroll 0 0; }
      .content > div.viktoria .social-links-box .tw {
        background-position: 0 0; }
        .content > div.viktoria .social-links-box .tw:hover {
          background-position: 0 -25px; }
      .content > div.viktoria .social-links-box .tmb {
        background-position: -25px 0; }
        .content > div.viktoria .social-links-box .tmb:hover {
          background-position: -25px -25px; }
      .content > div.viktoria .social-links-box .lin {
        background-position: -50px 0px; }
        .content > div.viktoria .social-links-box .lin:hover {
          background-position: -50px -25px; }
      .content > div.viktoria .arrow {
        right: 1%;
        background: transparent url("../gfx/icons/arrow-right.png") no-repeat center 0; }
        .content > div.viktoria .arrow span {
          right: 70px; }
      .content > div.viktoria .small-link {
        background: url("../gfx/icons/arrow-right.png") no-repeat scroll right 0 transparent;
        padding: 0 60px 0 0; }
        .content > div.viktoria .small-link:hover {
          background-position: right -61px; }
  .content .column {
    padding: 30px;
    width: 400px; }
    .content .column .image-box {
      overflow: hidden;
      margin: 0 auto;
      width: 260px;
      height: 260px;
      border-radius: 100%;
      transition-duration: 0.5s; }
      .content .column .image-box:hover {
        border-radius: 10px; }
      .content .column .image-box a {
        display: block;
        width: 260px;
        height: 260px;
        text-indent: -50000px; }
        .content .column .image-box a:hover {
          background-position: 0 -260px !important; }
    .content .column .text-box {
      padding: 40px; }
      .content .column .text-box h2 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font: normal 22px/1.5 'TheanoOldStyleRegular', serif; }
        .content .column .text-box h2 span {
          display: block;
          margin: 5px auto;
          width: 45%;
          border-bottom: 2px solid #5b353b; }
      .content .column .text-box h3 {
        padding: 5px 0;
        text-align: center;
        font: normal 16px/1 serif;
        font-style: italic; }
      .content .column .text-box p {
        margin: 0 auto;
        padding: 15px 0;
        width: 200px;
        text-align: justify;
        font-size: 14px;
        line-height: 1.5; }
  .content .social-links-box {
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
    width: 200px;
    border-top: 2px solid #5b353b; }
    .content .social-links-box a {
      float: left;
      margin-right: 10px;
      width: 25px;
      height: 25px;
      background: transparent url("../gfx/icons/social-ico.png") no-repeat scroll 0 0;
      background-size: 75px;
      text-indent: -50000px; }
      .content .social-links-box a.tw {
        background-position: 0 -50px; }
        .content .social-links-box a.tw:hover {
          background-position: 0 -75px; }
      .content .social-links-box a.tmb {
        background-position: -25px -50px; }
        .content .social-links-box a.tmb:hover {
          background-position: -25px -75px; }
      .content .social-links-box a.lin {
        background-position: -50px -50px; }
        .content .social-links-box a.lin:hover {
          background-position: -50px -75px; }
  .content .arrow {
    position: fixed;
    top: 50%;
    margin: -50px 0 0;
    width: 60px;
    height: 60px;
    color: #5b353b;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0; }
    .content .arrow:hover {
      background-position: center -60px !important;
      font-size: 16px;
      line-height: 1; }
    .content .arrow span {
      position: absolute;
      top: 15px;
      display: block;
      transition: all 0.3s ease 0s; }

.warnings {
  background-color: #5b353b;
  color: #e5d9d0;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500; }
  .warnings > div {
    padding: 15px;
    border: 1px solid #e5d9d0;
    display: none; }
    .warnings > div p {
      margin: 0; }
  .warnings .best-browsers {
    overflow: hidden;
    max-width: 480px;
    margin: 0 auto; }
    .warnings .best-browsers a {
      float: left;
      padding: 32px 0 0 0;
      background: transparent url("../gfx/icons/icons-browsers.png") no-repeat scroll center 0;
      height: 32px;
      line-height: 32px;
      margin: 30px 0 0;
      text-align: center;
      width: 120px;
      color: #e5d9d0; }
      .warnings .best-browsers a:hover {
        color: #9F5E67; }
      .warnings .best-browsers a.firf {
        background-position: center -64px; }
      .warnings .best-browsers a.ie {
        background-position: center -128px; }
      .warnings .best-browsers a.oper {
        background-position: center -192px; }

.noJs .warnings {
  display: block; }
  .noJs .warnings .JS {
    display: block;
    margin: 15px; }
.noJs .welcome-page {
  border: none;
  margin: 150px 0 0; }
.noJs .wrapper {
  display: block; }
.noJs .prepage .arrow {
  display: none; }
.noJs .small-link {
  display: block; }

.oldie .warnings {
  display: block; }
  .oldie .warnings .old-br {
    display: block;
    margin: 15px; }
.oldie .welcome-page {
  border: none;
  margin: 200px 0 0; }
.oldie .wrapper {
  display: block; }
  .oldie .wrapper .prepage > div {
    width: 49.9%; }
  .oldie .wrapper .prepage .arrow {
    display: none; }
.oldie .small-link {
  display: block; }
.oldie .social-links-box a {
  background-image: url("../gfx/icons/social-ico-small.png"); }
.oldie .welcome-logo {
  background-image: url("../gfx/site/welcome-logo-small.png"); }

@media only all and (max-width: 999px) {
  .content .arrow {
    display: none; }
  .content .column {
    padding: 30px 0; }
    .content .column .text-box .small-link {
      display: block; } }
@media only all and (max-width: 760px) {
  .content > div {
    float: none;
    width: 100%; }
    .content > div.vitalii .column {
      width: auto;
      float: none; }
    .content > div.viktoria .column {
      float: none;
      width: auto; } }
