@font-face {
    font-family: 'CSDESIGN|FabricadeideasRg';
    src: url('../fonts/csdesign-webfont.eot');
    src: url('../fonts/csdesign-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/csdesign-webfont.woff') format('woff'),
         url('../fonts/csdesign-webfont.ttf') format('truetype'),
         url('../fonts/csdesign-webfont.svg#CSDESIGN|FabricadeideasRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'JoyfulJulianaRegular';
    src: url('../fonts/joyful_juliana-webfont.eot');
    src: url('../fonts/joyful_juliana-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/joyful_juliana-webfont.woff') format('woff'),
         url('../fonts/joyful_juliana-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*efects 8ball
-----------------------------------------*/
a, a:hover, img, img:hover, input, input:hover {
    -webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Verdana, Arial, Tahoma, sans-serif;
	height: 100%;
    background: #008EC0 url(../img/sky.jpg) no-repeat center;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
    color: #ffb503;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
div.clear{
    clear: both;
}
div#wrapper{
    width: 1209px;
    height: 808px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
/*exterior
------------------------------------------------------*/
div.exterior{
    height: 100%;
    width: 100%;
    background: transparent url(../img/exterior.png) no-repeat center;
    position: relative;
}
div.logo{
    position: absolute;
    top: 60px;
    left: 105px;
}
/*mailbox
...............*/
div.mailbox{
    position: absolute;
    right: 405px;
    top: 485px;
    cursor: pointer;
}

div.mailbox-hover{
    position: absolute;
    right: 210px;
    top: 505px;
    
    -webkit-transition:  all 0.4s ease-in-out;
	-moz-transition:  all 0.4s ease-in-out;
	-o-transition:  all 0.4s ease-in-out;
	-ms-transition:  all 0.4s ease-in-out;
	transition:  all 0.4s ease-in-out;
}
div.postcart{
    position: absolute;
    top: 150px;
    left: 320px;
}
a.close-postcart{
    position: absolute;
    top: 20px;
    right: 90px;
    color: transparent;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
div.welcome-messege{
    position: absolute;
    right: -2291px;
    top: 280px;
}
/*bike
................................*/
div.bike{
    position: absolute;
    left: 115px;
    top: 445px;
    cursor: pointer;
}

div.bike-hover{
    position: absolute;
    left: 135px;
    top: 327px;

    
    -webkit-transition:  all 0.4s ease-in-out;
	-moz-transition:  all 0.4s ease-in-out;
	-o-transition:  all 0.4s ease-in-out;
	-ms-transition:  all 0.4s ease-in-out;
	transition:  all 0.4s ease-in-out;
}
/*dog
................................*/
div.dog{
    position: absolute;
    left: 560px;
    top: 510px;
    cursor: pointer;
}

div.dog-hover{
    position: absolute;
    left: 355px;
    top: 535px;

    
    -webkit-transition:  all 0.4s ease-in-out;
	-moz-transition:  all 0.4s ease-in-out;
	-o-transition:  all 0.4s ease-in-out;
	-ms-transition:  all 0.4s ease-in-out;
	transition:  all 0.4s ease-in-out;
}
/*knock door
........................................*/
div.knock{
    position: absolute;
    left: 547px;
    top: 393px;
    cursor: pointer;
}

div.knock-hover{
    position: absolute;
    left: 573px;
    top: 250px;

    
    -webkit-transition:  all 0.4s ease-in-out;
	-moz-transition:  all 0.4s ease-in-out;
	-o-transition:  all 0.4s ease-in-out;
	-ms-transition:  all 0.4s ease-in-out;
	transition:  all 0.4s ease-in-out;
}
/*exterior  shemy
------------------------------------------------------*/
div.house-shemy{
    height: 100%;
    width: 100%;
    background: transparent url(../img/house-shemy.png) no-repeat center;
    position: relative;
}
/*menu.............*/
div.menu-m{
    cursor: pointer;
    width: 135px;
    height: 72px;
    background: transparent url(../img/menu-bg.png) no-repeat center;
    
    position: absolute;
    right: 130px;
    top: 40px;
    text-align: center;
    z-index: 102;
}
/*div.menu-m:hover{
    background: transparent url(../img/menu-hover-bg.png) no-repeat center;
}*/
div.menu-m h2{
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
    margin: 25px 0 0 0;
}

ul.m-menu{
    font-family: 'JoyfulJulianaRegular', sans-serif;
    background: transparent url(../img/hshemy/m-menu-bg.png) no-repeat center;
    width: 164px;
    height: 170px;
    position: absolute;
    right: 110px;
    top: 50px;
    padding: 60px 10px 10px 10px;
    font-size: 28px;
    line-height: 30px;
    z-index: 101;
    text-align: center;
}
ul.m-menu li:hover{
    background: transparent url(../img/hshemy/m-menu-hovering.png) no-repeat center;
}
ul.m-menu li.active{
     background: transparent url(../img/hshemy/m-menu-hovering.png) no-repeat center;
}
ul.m-menu a{
    text-decoration: none;
    color: #000;
}
/*tv room...*/
div.tv-room-s{
    width: 290px;
    height: 160px;
    position: absolute;
    top: 333px;
    right: 241px;
    cursor: pointer;
}
div.tv-room-s-hover{
    background: rgba(255, 255, 255, 0.1);
    width: 290px;
    height: 160px;
    position: absolute;
    top: 333px;
    right: 241px;
    cursor: pointer;
}
/*kitchen...*/
div.kitchen-s{
    width: 265px;
    height: 150px;
    position: absolute;
    top: 507px;
    left: 232px;
    cursor: pointer;
}
div.kitchen-s-hover{
    background: rgba(255, 255, 255, 0.1);
    width: 265px;
    height: 150px;
    position: absolute;
    top: 507px;
    left: 232px;
    cursor: pointer;
}
div.kitchen-s-hover div.kitchen-label{
}
/*library...*/
div.library-s{
    width: 285px;
    height: 155px;
    position: absolute;
    top: 505px;
    right: 248px;
    cursor: pointer;
}
div.library-s-hover{
    background: rgba(255, 255, 255, 0.1);
    width: 285px;
    height: 155px;
    position: absolute;
    top: 505px;
    right: 248px;
    cursor: pointer;
}






/*kitchen room
--------------------------------------------------*/
div.kitchen{
    height: 100%;
    width: 100%;
    background: transparent url(../img/kitchen/kitchen-room.png) no-repeat center;
    position: relative;
}
div.darknes{
    position: absolute;
    top: 142px;
    left: 148px;
    width: 913px;
    height: 499px;
    overflow: hidden;
    z-index: 100;
}
/*lamp...*/
div.lamp{
    position: absolute;
    top: 145px;
    left: 570px;
    cursor: pointer;
    z-index: 101;
}
div.lamp-hover{
    position: absolute;
    left: 685px;
    top: 150px;
}

/*telephone...*/
div.telephone{
    position: absolute;
    left: 177px;
    top: 269px;
    cursor: pointer;
}
div.telephone-hover{
    position: absolute;
    left: 165px;
    top: 160px;
}
div#telephone_info1, div#telephone_info2, div#telephone_info3{
    position: absolute;
    top: 140px;
    left: 150px;
    z-index: 200;
}
a#close_telephone_info1, a#close_telephone_info2, a#close_telephone_info3{
    position: absolute;
    top: 46px;
    right: 36px;
    color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/*magnet...*/
div.magnet{
    position: absolute;
    left: 312px;
    top: 360px;
    cursor: pointer;
}
div.magnet-hover{
    position: absolute;
    left: 355px;
    top: 330px;
}
div#magnit_info{
    position: absolute;
    top: 150px;
    left: 215px;
    z-index: 200;
}
a#close_magnit_info{
    position: absolute;
    top: 5px;
    right: 2px;
    color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/*dog...*/
div.kitchen div.dog2{
    position: absolute;
    left: 170px;
    top: 483px;
    cursor: pointer;
}
div.kitchen div.dog2-hover{
    position: absolute;
    left: 193px;
    top: 415px;
}
/*cookies...*/
div.cookies{
    position: absolute;
    left: 755px;
    top: 480px;
    cursor: pointer;
}
div.cookies-hover{
    position: absolute;
    left: 805px;
    top: 410px;
}
div#cook_info{
    position: absolute;
    top: 140px;
    left: 150px;
    z-index: 200;
}
a#close_cook_info{
    position: absolute;
    top: 46px;
    right: 36px;
    color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/*library room
--------------------------------------------------*/
div.library{
    height: 100%;
    width: 100%;
    background: transparent url(../img/library/library-room.png) no-repeat center;
    position: relative;
}
/*poster...*/
div.poster{
    position: absolute;
    top: 143px;
    left: 240px;
    cursor: pointer;
}
div.poster-hover{
    position: absolute;
    left: 215px;
    top: 212px;
}
div#poster_info{
    position: absolute;
    top: 140px;
    left: 150px;
    z-index: 200;
}
a#close_poster_info{
    position: absolute;
    top: 46px;
    right: 36px;
    color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/*dog3...*/
div.dog3{
    position: absolute;
    top: 455px;
    left: 345px;
    cursor: pointer;
}
div.dog3-hover{
    position: absolute;
    left: 200px;
    top: 510px;
}
/*laptop...*/
div.laptop{
    position: absolute;
    top: 392px;
    left: 520px;
    cursor: pointer;
}
div.laptop-hover{
    position: absolute;
    left: 394px;
    top: 260px;
}
div#nout_info{
    position: absolute;
    top: 140px;
    left: 150px;
    z-index: 200;
}
a#close_nout_info{
    position: absolute;
    top: 46px;
    right: 36px;
    color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/*journals...*/
div.journals{
    position: absolute;
    top: 213px;
    left: 658px;
    cursor: pointer;
}
div.journals-hover{
    position: absolute;
    left: 722px;
    top: 293px;
}
div#journal_info{
    position: absolute;
    top: 140px;
    left: 150px;
    z-index: 200;
}
a#close_journal_info{
    position: absolute;
    top: 46px;
    right: 36px;
    color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*telephone2...*/
div.telephone2{
    position: absolute;
    top: 505px;
    left: 706px;
    cursor: pointer;
}
div.telephone2-hover{
    position: absolute;
    left: 784px;
    top: 557px;
}


/*tv room
--------------------------------------------------*/
div.tv-room{
    height: 100%;
    width: 100%;
    background: transparent url(../img/tv-room/tv-room.png) no-repeat center;
    position: relative;
}
/*telephone4...*/
div.telephone4{
    position: absolute;
    top: 220px;
    left: 170px;
    cursor: pointer;
}
div.telephone4-hover{
    position: absolute;
    left: 178px;
    top: 162px;
}
/*netflix...*/
div.netflix{
    position: absolute;
    top: 377px;
    left: 225px;
    cursor: pointer;
}
div.netflix-hover{
    position: absolute;
    left: 299px;
    top: 454px;
}
div#tv_info{
    position: absolute;
    top: 140px;
    left: 150px;
    z-index: 200;
}
a#close_tv_info{
    position: absolute;
    top: 46px;
    right: 36px;
    color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/*games...*/
div.games{
    position: absolute;
    top: 240px;
    left: 228px;
    cursor: pointer;
}
div.games-hover{
    position: absolute;
    left: 319px;
    top: 335px;
}
div#game_info{
    position: absolute;
    top: 140px;
    left: 150px;
    z-index: 200;
}
a#close_game_info{
    position: absolute;
    top: 46px;
    right: 36px;
    color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*dog4...*/
div.dog4{
    position: absolute;
    top: 435px;
    left: 664px;
    cursor: pointer;
}
div.dog4-hover{
    position: absolute;
    left: 532px;
    top: 323px;
}
/*popcorn...*/
div.popcorn{
    position: absolute;
    top: 435px;
    left: 770px;
    cursor: pointer;
}
div.popcorn img{
    position: absolute;
}
div.popcorn-hover{
    position: absolute;
    left: 884px;
    top: 373px;
}



/*footer
---------------------------------------------------------------*/
div.footer{
    width: 1209px;
    margin: -65px auto 0 auto;
    text-align: center;
    position: relative;
    z-index: 99999;
    color: #fff;
}
div.footer a{
    color: #fff;
    text-decoration: none;
}
div.footer a:hover{
    color: #ffb503;
}