@charset "utf-8";
/*VKarenko 10.10.2013 SCSS styling
Source file location: sass/base.medium.scss:css/base.medium.css*/

//	Main styles for site
	//	1/3 styles
	@mixin onethird1024 {
		margin: 0 12px 24px;
		width: 304px;
	}
	@mixin onethird800 {
		margin: 0 12px 24px;
		width: 236px;
	}
@media only all and (max-width: 1279px) {
	.container {
		max-width: 984px;
	}
	.h-conteiner {
		padding: 0 12px;
		max-width: 960px;
	}
	.heading p {
		padding: 0 100px 72px;
	}
	.samples {
		.item {
			@include onethird1024;
			&.large {
				width: 632px;
			}
		}
	}
	.main-skills .column {
		@include onethird1024;
	}
	.other-skils .item {
		margin: 0 40px 0 0;
		width: 216px;
		p {
			font-size: 17px;
		}
	}
	#footer .footer-top .column {
		@include onethird1024;
	}
}
@media only all and (max-width: 1023px) {
	.container {
		max-width: 780px;
	}
	.h-conteiner {
		max-width: 756px;
	}
	.samples {
		.item {
			@include onethird800;
			&.large {
				width: 496px;
			}
			.hover {
				.link-text {
					top: 35%;
					h2 {
						font: normal 18px/20px 'CantarellRegular',sans-serif;;
					}
				}
			}
		}
	}
	.main-skills .column {
		@include onethird800;
	}
	.other-skils .item {
		margin: 0 59px 40px;
		width: 271px;
		&.last {
			margin: 0 60px 40px;
		}
		p {
			font-size: 18px;
		}
	}
	#footer .footer-top .column {
		width: 290px;
		margin: 0 188px 40px 12px;
		&:nth-child(2) {
			margin: 0 0 40px;
		}
		&:last-child {
			width: 750px;
			margin: 0 12px 40px;
		}
	}
}