html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: transparent;
	vertical-align: baseline;
	font-size: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	height: 100%;
	background: #fff;
	letter-spacing: 0.03em;
	font: 300 15px/27px 'TheanoOldStyleRegular', Arial, Tahoma, Verdana, sans-serif;
}
a {
	outline: none;
	color: #777;
	text-decoration: none;
	transition: color 0.3s ease;
}
a:hover {
	color: #333;
}
p {
	margin: 0 0 20px;
	line-height: 26px;
}
img {
	max-width: 100%;
	border: none;
}
input {
	vertical-align: middle;
}
h1, h2, h3 {
	text-transform: uppercase;
}
h1 {
	color: #212121;
	letter-spacing: 0.1em;
	font-weight: 400;
	font-size: 24px;
	font-family: 'CantarellRegular', sans-serif;
}
h2 {
	color: #212121;
	font-family: 'CantarellRegular', sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.1em;
	line-height: 24px;
	margin-bottom: 24px;
}
h3 {
	margin-bottom: 6px;
	color: #212121;
	font-weight: 500;
	font-style: normal;
	font-size: 15px;
	font-family: 'CantarellRegular',sans-serif;
	line-height: 20px;
}
*::-moz-selection {
	background: none repeat scroll 0 0 #333333;
	color: #FFFFFF;
	text-shadow: none;
}
::selection {
background: #333;
color: #fff;
text-shadow: none;
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'TheanoOldStyleRegular';
	src: url('../fonts/TheanoOldStyle-Regular-webfont.eot');
	src: url('../fonts/TheanoOldStyle-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/TheanoOldStyle-Regular-webfont.woff') format('woff'),
		 url('../fonts/TheanoOldStyle-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/TheanoOldStyle-Regular-webfont.svg#TheanoOldStyleRegular') format('svg');
}
/*Hattori*/
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'HattoriHanzoLight';
	src: url('../fonts/Hattori_Hanzo-webfont.eot');
	src: url('../fonts/Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Hattori_Hanzo-webfont.woff') format('woff'),
		 url('../fonts/Hattori_Hanzo-webfont.ttf') format('truetype'),
		 url('../fonts/Hattori_Hanzo-webfont.svg#HattoriHanzoLight') format('svg');
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'HattoriHanzoLightItalic';
	src: url('../fonts/Hattori_Hanzo_Italic-webfont.eot');
	src: url('../fonts/Hattori_Hanzo_Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Hattori_Hanzo_Italic-webfont.woff') format('woff'),
		 url('../fonts/Hattori_Hanzo_Italic-webfont.ttf') format('truetype'),
		 url('../fonts/Hattori_Hanzo_Italic-webfont.svg#HattoriHanzoLightItalic') format('svg');
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'CantarellRegular';
	src: url('../fonts/Cantarell-Regular-webfont.eot');
	src: url('../fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Cantarell-Regular-webfont.woff') format('woff'),
		 url('../fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/Cantarell-Regular-webfont.svg#CantarellRegular') format('svg');

}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'CantarellOblique';
	src: url('../fonts/Cantarell-Oblique-webfont.eot');
	src: url('../fonts/Cantarell-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Cantarell-Oblique-webfont.woff') format('woff'),
		 url('../fonts/Cantarell-Oblique-webfont.ttf') format('truetype'),
		 url('../fonts/Cantarell-Oblique-webfont.svg#CantarellOblique') format('svg');

}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'CantarellBold';
	src: url('../fonts/Cantarell-Bold-webfont.eot');
	src: url('../fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Cantarell-Bold-webfont.woff') format('woff'),
		 url('../fonts/Cantarell-Bold-webfont.ttf') format('truetype'),
		 url('../fonts/Cantarell-Bold-webfont.svg#CantarellBold') format('svg');

}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'CantarellBoldOblique';
	src: url('../fonts/Cantarell-BoldOblique-webfont.eot');
	src: url('../fonts/Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Cantarell-BoldOblique-webfont.woff') format('woff'),
		 url('../fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'),
		 url('../fonts/Cantarell-BoldOblique-webfont.svg#CantarellBoldOblique') format('svg');

}